body{
    background-color: sandybrown;
}

h1{
    border: ridge;
    color: springgreen;
    width: 50%;
    margin: auto;
    border-radius: 15px;
    background: rgb(156, 40, 40);
}

img{
    border: ridge;
    color: springgreen;
    border-radius: 15px;

}